spring:
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop
    open-in-view: false

  datasource:
    url: jdbc:postgresql://${db_url}/inventory?serverTimezone=UTC&allowPublicKeyRetrieval=true&useSSL=false
    username: ${db_username}
    password: ${db_password}

stripe:
  secret-key: ${STRIPE_SECRET_KEY}